<% title @channel.name %>

<div class="grid_12">
  <ul class="breadcrumbs">
    <%= home %>
    <li><%= link_to t("channels.model_name"), channels_path %></li>
    <li><%= yield(:title) %></li>
  </ul>
</div>

<%= render :partial => 'channels/banner' %>

  <div class="grid_12">
    <%= render :partial => @videos %>
  </div>
