<% title @channel.name %>

<div class="grid_12">
  <ul class="breadcrumbs">
    <%= home %>
    <li><%= link_to t("channels.model_name"), channels_path %></li>
    <li><%= yield(:title) %></li>
  </ul>
</div>

<div class="grid_12">
  <h1><%= yield(:title) %> <span><%= @channel.tagline %></span></h1>
  <%= render :partial => @videos %>
</div>
