<% title t("users.sign_in.title") %>

<div class="grid_7">

  <h1><%= t("users.sign_in.heading") %></h1>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="inputs">
        <%= f.input :email %>
        <%= f.input :password %>
        <!--
        <% if devise_mapping.rememberable? -%>
            <%= f.input :remember_me %>
        <% end -%>
        -->
      </div>

      <div class="actions">
        <%= f.button :submit %>
      </div>

  <% end %>

  <p><%= link_to t("users.sign_in.link.remind_password"), "" %></p>
  <p><%= link_to t("users.sign_in.link.sign_up"), new_user_registration_path %></p>

</div>
