<% title "Admin" %>

<h1><%= yield(:title) %></h1>

<h2>Videos (<%= link_to "New Video", new_video_path %>)</h2>

<table>
  <tr>
    <th>Video</th>
    <th>Teacher</th>
    <th>Unlocks</th>
    <th>Comments</th>
  </tr>
  <% @videos.each do |v| %>
    <tr>
      <td><%= link_to v.name, video_path(v) %></td>
      <td><%= link_to v.user.name, user_path(v.user) %></td>
      <td><%= v.unlocks.count %></td>
      <td><%= v.comments.count %></td>
      <td>
        <%= link_to "Edit", edit_video_path(v) %> | 
        <%= link_to "Delete", video_path(v), :confirm => "Delete this video?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Channels (<%= link_to "New Channel", new_channel_path %>)</h2>

<table>
  <tr>
    <th>Channel</th>
  </tr>
  <% @channels.each do |ch| %>
    <tr>
      <td><%= link_to ch.name, channel_path(ch) %></td>
      <td>
        <%= link_to "Edit", edit_channel_path(ch) %> | 
        <%= link_to "Delete", channel_path(ch), :confirm => "Delete this video?", :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Teachers</h2>

<table>
  <tr>
    <th>Teacher</th>
    <th>Earnings</th>
    <th>Comments</th>
  </tr>
  <% @teachers.each do |t| %>
    <tr>
      <td><%= link_to t.name, user_path(t) %></td>
      <td><%= "TODO" %></td> <!-- TODO: sumuje creditsy x prowizję unlocksów danego ticzersa -->
      <td><%= t.comments.count %></td>
      <td><%= link_to "Edit", edit_user_path(t) %></td>
    </tr>
  <% end %>
</table>

<h2>Users</h2>

<table>
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Admin?</th>
    <th>Teacher?</th>
    <th>Subscriber?</th>
    <th>Comments</th>
    <th>Credits</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= l(u.created_at) %></td>
      <td><%= link_to u.name, hub_user_path(u) %></td>
      <td><%= u.is_admin %></td>
      <td><%= u.is_teacher %></td>
      <td><%= u.is_subscriber %></td>
      <td><%= u.comments.count %></td>
      <td><%= u.credits_available %></td>
      <td><%= link_to "Edit", edit_user_path(u) %></td>
    </tr>
  <% end %>
</table>

<h2>Comments</h2>

<table>
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Video</th>
    <th>Comment</th>
  </tr>
  <% @comments.each do |c| %>
    <tr>
      <td><%= l(c.created_at) %></td>
      <td><%= link_to c.user.name, hub_user_path(c.user) %></td>
      <td><%= link_to truncate(c.video.name, :length => 25), video_path(c.video)+"#comments" unless c.video.blank? %></td>
      <td><%= truncate(c.body, :length => 25) %></td>
    </tr>
  <% end %>
</table>

<h2>Payments</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>User</th>
    <th>I_first_name</th>
    <th>I_last_name</th>
    <th>I_street</th>
    <th>I_city</th>
    <th>I_postal</th>
    <th>I_country</th>
    <th>Credtis</th>
    <th>Price</th>
  </tr>
  <% @user.payments.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= l(p.created_at, :format=>:long) %></td>
      <td><%= p.user.name %></td>
      <td><%= p.invoice_first_name %></td>
      <td><%= p.invoice_last_name %></td>
      <td><%= p.invoice_street %></td>
      <td><%= p.invoice_postal_code %></td>
      <td><%= p.invoice_city %></td>
      <td><%= p.country %></td>
      <td><%= p.credits %></td>
      <td><%= p.price %>$</td>
    </tr>
  <% end %>
</table>

<h2>Unlocks</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Date exp</th>
    <th>User</th>
    <th>Video</th>
    <th>Teacher</th>
    <th>Credits</th>
  </tr>
  <% @unlocks.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= l(u.created_at, :format=>:long) %></td>
      <td><%= l(u.expires_at, :format=>:long) %></td>
      <td><%= u.user.name %></td>
      <td>
        <% unless u.video.blank? %>
          <%= link_to truncate(u.video.name, :length => 50), u.video %>
        <% else %>
          VIDEO DELETED - ID:<%= u.video_id %>
        <% end %>
      </td>
      <td><%= u.teacher.name %></td>
      <td><%= u.credits %></td>
    </tr>
  <% end %>
</table>
