<% title t("users.credits.title") %>

<h1><%= yield(:title) %></h1>

<h2><span>1</span> <%= t("users.credits.first_step") %></h2>

<%= simple_form_for "a" do |f| %>

<%= f.collection_radio :amount, 
	[[10, t("users.credits.package", :amount=>"10", :price=>"10")], 
	[50, t("users.credits.package", :amount=>"50", :price=>"50")],
        [100, t("users.credits.package", :amount=>"100", :price=>"100")]],
	:first, :last %>
<% end %>

<h2><span>2</span> <%= t("users.credits.second_step") %></h2>

#form

<h2><span>3</span> <%= t("users.credits.third_step") %></h2>

<%= image_tag("http://audiojungle.net/images/common/payment/paypal.png") %>

<div class="clear"></div>

<%= link_to t("buttons.buy"), "", :class=> "button buy" %>
