<% title t("users.credits.title") %>

<h1><%= yield(:title) %></h1>
<p><%= raw t("users.credits.info") %></p>

<h2 class="first step"><span>1</span> <%= t("users.credits.first_step.heading") %></h2>
<p><%= t("users.credits.first_step.info") %></p>

<%= simple_form_for "a" do |f| %>

<%= f.collection_radio :amount, 
	[[10, t("users.credits.package", :amount=>"10", :price=>"10")], 
	[50, t("users.credits.package", :amount=>"50", :price=>"50")],
	[100, t("users.credits.package", :amount=>"100", :price=>"100")]], 
	:first, :last %>
<% end %>

<h2 class="second step"><span>2</span> <%= t("users.credits.second_step.heading") %></h2>
<p><%= t("users.credits.second_step.info") %></p>
<p><%= t("users.credits.second_step.info_problems") %></p>

<%= image_tag("http://audiojungle.net/images/common/payment/paypal.png") %>

<%= link_to t("buttons.buy"), "", :class=> "button buy" %>
