<% title t("users.edit.title") %>

<h1><%= yield(:title) %></h1>

<%= simple_form_for(@user, :html=>{:multipart=>true}) do |f| %>

    <div class="inputs">
      <h2><%= t("users.edit.basics") %></h2>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
    </div>

    <% if @user.is_teacher %>
        <div class="inputs">
          <h2><%= t("users.edit.teacher") %></h2>
          <%= f.input :description %>
           <%= f.input :description_pl %>
        </div>
    <% end %>

    <% if @user.is_admin %>
        <div class="inputs">
          <h2>Admin</h2>
          <%= f.input :is_admin %>
          <%= f.input :is_teacher %>
          <%= f.input :is_subscriber %>
          <%= f.input :credits_total %>
          <%= f.input :credits_available %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.button :submit %>
    </div>

<% end %>
