<% title t("users.hub.title")%>

<h1><%= yield(:title) %></h1>

<h2><%= t("users.hub.heading.unlocks") %></h2>

<% unless @user.is_subscriber %>

<% unless @user.unlocks.blank? %>
  <table>
    <tr>
      <th><%= t("users.table.id") %></th>
      <th><%= t("users.table.video") %></th>
      <th><%= t("users.table.start") %></th>
      <th><%= t("users.table.end") %></th>
      <th><%= t("users.table.credits") %></th>
    </tr>
  <% @user.unlocks.each do |u| %>
    <tr>
      <td><%= "#" + u.id.to_s %></td>
      <td><%= link_to truncate(u.video.name, :length => 50), u.video %></td>
      <td><%= l(u.created_at, :format=>:long) %></td>
      <td><%= l(u.expires_at, :format=>:long) %></td>
      <td><%= u.credits %></td>
    </tr>  
  <% end %>
  </table>
<% else %>
  <p><%= t("empty.unlocks") %> &raquo; <%= link_to t("users.hub.lets.browse"), videos_path %></p>
<% end %>

<h2><%= t("users.hub.heading.payments") %></h2>
<p><%= t("empty.payments") %> &raquo; <%= link_to t("users.hub.lets.buy"), credits_user_path(@user) %></p>

<% else %>
<p><%= t("users.hub.is_subscriber") %></p>
<% end %>

<% if @user.is_teacher %>
<h2><%= t("users.hub.heading.earnings") %></h2>

<% unless @user.earnings.blank? %>

  <table>
    <tr>
      <th><%= t("users.table.id") %></th>
      <th><%= t("users.table.video") %></th>
      <th><%= t("users.table.buyer") %></th>
      <th><%= t("users.table.start") %></th>
      <th><%= t("users.table.end") %></th>
      <th><%= t("users.table.credits") %></th>
      <th><%= t("users.table.commission") %></th>
    </tr>
  <% @user.earnings.each do |e| %>
    <tr>
      <td><%= "#" + e.id.to_s %></td>
      <td><%= link_to truncate(e.video.name, :length => 25), e.video %></td>
      <td><%= e.user.name %></td>
      <td><%= l(e.created_at, :format=>:long) %></td>
      <td><%= l(e.expires_at, :format=>:long) %></td>
      <td><%= e.credits %></td>
      <td><%= e.credits*e.commission/100 %>$ (<%= e.commission %>%)</td>
    </tr>  
  <% end %>
  </table>
<% else %>
  <p><%= t("empty.videos") %> &raquo; <%= link_to t("users.hub.lets.browse"), videos_path %></p>
<% end %>

<% end %>
