<% title t("users.password.title") %>

<h1><%= yield(:title) %></h1>

<% simple_form_for @user, :url=>password_user_path(@user) do |f| %>

      <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :required=>true %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>
