<% title @user.name %>

<div class="grid_12">
  <ul class="breadcrumbs">
    <%= home %>
    <li><%= link_to t("teachers.model_name"), users_path %></li>
    <li><%= yield(:title) %></li>
  </ul>
</div>

<div class="grid_3">
  <%= image_tag(@user.avatar.url(:thumb), :alt => @user.name)  %>
</div>

<div class="grid_8">
  
  <h1><%= yield(:title) %></h1>
  <%= tagline(@user) %>

  <p class="email">
    <% if user_signed_in? %>
      <%= t("teachers.write_to") %> &raquo; <%= link_to @user.email, "mailto:#{@user.email}" %>
    <% else %>
      <%= t("teachers.write_to") %> &raquo; <%= link_to t("teachers.sign_in_to_see_email"), new_user_session_path %>
    <% end %>
  </p>

  <%= description(@user) %>

</div>

<div class="spacer"></div>

<div class="grid_12">
  <%= render :partial => @videos %>
</div>
