<%= simple_form_for(@video, :html=>{:multipart=>true}) do |f| %>

<%= f.error_notification %>

  <div class="inputs">
    <h2>English</h2>
    <%= f.input :name_en %>
    <%= f.input :summary_en %>
    <%= f.input :chapters_en %>
    <h3>Free description in English</h3>
    <%= f.cktext_area :description_en, :toolbar => 'Easy', :width => '600px', :height => '300px' %>
    <h3>Paid description in English</h3>
    <%= f.cktext_area :description_en_paid, :toolbar => 'Easy', :width => '600px', :height => '300px' %>
  </div>

  <div class="inputs">
    <h2>Polish</h2>
    <%= f.input :name_pl %>
    <%= f.input :summary_pl %>
    <%= f.input :chapters_pl %>
    <h3>Free description in Polish</h3>
    <%= f.cktext_area :description_pl, :toolbar => 'Easy', :width => '600px', :height => '300px' %>
    <h3>Paid description in Polish</h3>
    <%= f.cktext_area :description_pl_paid, :toolbar => 'Easy', :width => '600px', :height => '300px' %>
  </div>

  <div class="inputs">
    <h2>Basics</h2>
    <%= f.input :level ,:collection => Video::LEVEL, :prompt => false %>
    <%= f.association :user, :label_method => :name, :value_method => :id, 
	:collection => @teachers, :prompt => false %>
    <%= f.association :channel, :label_method => :name, :value_method => :id, 
	:collection => @channels, :prompt => false %>
    <%= f.input :is_featured %>
    <%= f.input :native, :collection => Video::CAPTIONS, :prompt=> false %>
    <%= f.input :has_pl_captions %>
    <%= f.input :has_en_captions %>
    <%= f.input :thumb %>
  </div>

  <div class="inputs">
    <h2>Pricing</h2>
    <%= f.input :is_paid, :as => :radio %>
    <%= f.input :price %>
    <%= f.input :days %>
    <%= f.input :commission %>
  </div>

  <div class="inputs">
    <h2>Video</h2>
    <%= f.input :youtube_video %>
    <%= f.input :paid_video_sd %>
    <%= f.input :paid_video_hd %>
    <%= f.input :paid_video_iphone %>
    <%= f.input :duration %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>

<% content_for :head do %>
  <%= javascript_include_tag :ckeditor %>
<% end %>
