<%= simple_form_for(@video) do |f| %>

    <%= f.error_notification %>

    <div class="inputs">
      <h2>En</h2>
      <%= f.input :name %>
      <%= f.input :description %>
    </div>

    <div class="inputs">
      <h2>Pl</h2>
      <%= f.input :name_pl %>
      <%= f.input :description_pl %>
    </div>

    <div class="inputs">
      <h2>Basics</h2>
      <%= f.input :level ,:collection => Video::LEVEL, :prompt => false %>
      <%= f.association :user, :label_method => :name, :value_method => :id, :collection => @teachers, :prompt => false %>
      <%= f.association :channel, :label_method => :name, :value_method => :id, :collection => @channels, :prompt => false %>
      <%= f.inputs :is_featured %>
    </div>

    <div class="inputs">
      <h2>Video</h2>
      <%= f.input :embed %>
      <%= f.input :duration %>
      <%= f.input :is_paid, :as => :radio %>
      <%= f.input :price %>
      <%= f.input :days %>
      <%= f.input :trailer %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>

<% end %>
