<div class="box video">

  <div class="fblike">
    <fb:like href='<%= video_url(video) %>' send='true' layout='box_count' width='60' show_faces='false' font='arial'></fb:like>
  </div>

  <%= link_to image_tag(video.thumb.url(:normal), :alt => video.name), video %>

  <ul>
    <li><%= link_to video.user.name, video.user %></li>
    <li><%= t("videos.meta.for") %> <%= link_to video.channel.name, video.channel %></li>
  </ul>

  <h2><%= link_to video.name, video %></h2>

  <%= meta(video) %>

  <p>
    <%= link_to t("buttons.watch"), video, :class=>"button learn" %>
    <% if video.is_paid %>
        <%= price(video) + " " + days(video) %>
    <% else %>
        <%= free %>
    <% end %>
  </p>

</div>
