<% title t("about.title") %>

<%  if I18n.locale == :en %>

<div class="grid_12">
  <h1>What is OVL?</h1>
</div>

<div class="grid_6">
  <div class="intro">
    <p>OVL creates <strong><%= link_to "high-quality videolessons", videos_path %></strong> that help you develop your professional competence. 
    All videolessons are carefully prepared by <strong><%= link_to "experts in their fields", users_path %></strong> in our studio in Poznan.</p>
    <p>Learn. Grow. <strong class="vision">Become who you want to be</strong>.</p>
    <p>OVL means "Open Video Learning" because it's international project opened for every interesting field of knowledge.</p>
  </div>
</div>

<div class="grid_6">
  <div class="player">
    <iframe width="440" height="277" src="http://www.youtube.com/embed/SaOFuW011G8" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="spacer"></div>

<div class="grid_4">
  <div class="value content">
    <h3>Great Content</h3>
    <ul>
      <li>reliable knowledge from the experts</li>
      <li>answers to the specific problems</li>
      <li>updates and the most actual knowledge</li>
    </ul>
  </div>
</div>

<div class="grid_4">
  <div class="value form">
    <h3>Attractive Form</h3>
    <ul>
      <li>professional 15 to 30 minutes videos</li>
      <li>graphics for better understanding</li>
      <li>extra materials, comments and tests</li>
    </ul>
  </div>
</div>

<div class="grid_4">
  <div class="value availability">
    <h3>Huge Availability</h3>
    <ul>
      <li>low price in pay-as-you-go model</li>
      <li>translations to English and Polish</li>
      <li>interactive discussions in comments</li>
    </ul>
  </div>
</div>

<div class="spacer"></div>

<div class="grid_6">
  <h2>What problem do OVL solve?</h2>
  <p>We want to solve a problem of lack of reliable, structured<br /> and affordable professional knowledge.</p>
</div>

<div class="grid_6">
  <h2>Who is using OVL?</h2>
  <p>Our users are self-learners aged 16-65 years who work<br/> in professions that require specialized knowledge.</p>
</div>

<div class="hide">

<div class="spacer"></div>

<div class="grid_12">
  <h2>How to unlock videolessons?</h2>
</div>

<div class="grid_6">

<h3>1. Buy some OVL Credits</h3>
<p>OVL Credits are virtual currency for super-easy lessons unlocking.<br /> 
Buy some OVL Credits and use it on what and when you want.<br />
1 OVL Credit costs 1 $.</p>

<h3>2. Unlock desired videolessons</h3>
<p>Click on big red button "Unlock Full Version Now".</p>

<h3>3. Start learning!</h3>
<p>Watch full video, read all extra materials, ask questions in comments.</p>

</div>

<div class="grid_6">
  <%= image_tag("icons/sscissor.png") %>
</div>

</div>

<div class="spacer"></div>

<div class="grid_12">
  <p class="start learning">
  <% if user_signed_in? %>
    <%= link_to "Explore first videolessons and start learning!", videos_path %>
  <% else %>
    <%= link_to "Explore first videolessons and start learning!", videos_path %>
  <% end %>
  </p>
</div>

<div class="spacer"></div>

<div class="grid_12">
  <h2><a name="teachers">How to join OVL Teachers?</a></h2>
</div>

<div class="grid_12">

  <div class="quote">
    <p>&quot;I always wanted to share my knowledge to thousands and earn some money from it but I didn't
    find platforms that meet my expectation. That's why I invented OVL and felt in love in it.&quot;</p>
    <p class="author">&ndash; <%= link_to "Bartek Rycharski", user_path(1) %>, Founder and Teacher of OVL</p>
  </div>

  <p>We offer you unique chance to teach thousands of people topics that you love.<br />
     You create content, we produce and promote it internationally.</p>

  <h3>What do we offer?</h3>
  <ul>
    <li>20% commision from selling unlocks of your videolessons,</li>
    <li>international promotion of you and your knowledge,</li>
    <li>professional and fast video production in our studio in Poznan, Poland,</li>
    <li>full assistance in every step of the process,</li>
    <li>free access to all videolessons on ovlplatform.com,</li>
    <li>refund of all the costs of travel to our studio.</li>
  </ul> 

  <h3>What do we require?</h3>
  <ul> 
    <li>useful and actual knowledge supported by practical experience,</li>
    <li>passion to the idea of sharing your knowledge internationally in form of videolessons,</li>
    <li>specific topics &ndash; each videolesson is an answer to the specific problem,</li>
    <li>well-prepared scripts &ndash; you can have from 2 to 10 30-minutes long videolessons,</li>
    <li>taking care of updating extra materials and responding to comments,</li>
    <li>ready or travel to our studio in Poznan for video recordings,</li>
    <li>agreement to use your image in promotional purposes of OVL,</li>
    <li>agreement to preserve copyrights to videos by us.</li>
  </ul>

  <h3>What series do interest us the most?</h3>
 
  <p>Video Production, Music Production, Building, Medicine, Computer Science, Cooking, Car Mechanics, Management,
     Marketing, Finance, Accountancy, Law, Mathematics, Physics, Biology, Chemistry, Genetics, Statistics, History,
     Computer Skills, Foreign Languages.</p>

  <h3>How many videolessons do we want to create?</h3>

  <p>From 10 to 100 videolessons for each series. Every Teacher can have from 2 to 10 videolessons &ndash; only topics in which has 
     the most knowledge and experience. For example, if you want to teach about the Ancient Rome in History series, you don't have to
     teach also about Industrial Revolution or World War II &ndash; OVL is an un-school and an un-book ;-)</p>

  <h3>What the pricess look like?</h3>

  <ol class="production_process">
    <li>Preproduction<br />
        <span>preparing scripts</span></li>
    <li>Production<br />
       <span>filming in our studio in Poznan</span></li>
    <li>Postproduction<br />
       <span>montage and translations</span></li>
    <li>Promotion<br />
      <span>executing promotion plan</span></li>
  </ol>

</div>

<div class="spacer"></div>

<div class="grid_12">
  <p class="start teaching">
    <%= link_to "Apply now and start teaching!", "http://ovlplatform.wufoo.eu/forms/ovl-teacher-application/" %>
  </p>
</div>

<div class="hide">

<div class="spacer"></div>

<div class="grid_12">
  <h2>Who are we?</h2>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3><%= link_to "Bartek Rycharski", "" %></h3>
  <p class="tagline">CEO / Content Production</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3><%= link_to "Name name", "" %></h3>
  <p class="tagline">Studio Production</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3>Name Name</h3>
  <p class="tagline">Postproduction</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3>Krzysiek Streflik</h3>
  <p class="tagline">Programming</p>
</div>

</div>

<div class="spacer"></div>

<div class="grid_4">
  <h2><a name="contact">Contact us</a></h2>
  <p>
  <%= link_to "Bartek Rycharski", user_path(1) %><br />
  <a href="mailto:bartek@ovlplatform.com">bartek@ovlplatform.com</a><br />
  tel. + 48 604 099 886 
  </p>
</div>

<div class="grid_4">
  <h2>Company</h2>
  <p>
  Edu 2.0 Bartlomiej Rycharski<br>
  Dabrowskiego 188/1<br>
  60-594 Poznan, Poland<br>
  VAT: 782-246-15-41<br>
  </p>
</div>

<div class="grid_4">
  <h2>Our Studio</h2>

<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.417707,16.911736&amp;spn=0.041879,0.102997&amp;t=m&amp;z=12&amp;vpsrc=6&amp;output=embed"></iframe><br /><small><a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.417707,16.911736&amp;spn=0.041879,0.102997&amp;t=m&amp;z=12&amp;vpsrc=6" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>

</div>

<%  else %>

<div class="grid_12">
  <h1>Czym jest OVL?</h1>
</div>

<div class="grid_6">
  <div class="intro">
    <p>OVL tworzy <strong><%= link_to "wysokiej jakości wideolekcje", videos_path %></strong>, które pomagają rozwijać Twoje kompetencje zawodowe.
    Wszystkie wideolekcje są przygotowywane przez <strong><%= link_to "doświadczonych ekspertów", users_path %></strong> w naszym studiu w Poznaniu.</p>
    <p>Gdziekolwiek i kiedykolwiek od 3$ za wideolekcję.<br /> 
    Ucz się. Rozwijaj się. <strong class="vision">Zostań kim chcesz</strong>.</p>
    <p>OVL znaczy "Open Video Learning", ponieważ jesteśmy międzynarodowym projektem otwartym na wszystkie zawody.</p>
  </div>
</div>

<div class="grid_6">
  <div class="player">
    <iframe width="440" height="277" src="http://www.youtube.com/embed/SaOFuW011G8" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="spacer"></div>

<div class="grid_4">
  <div class="value content">
    <h3>Świetna Treść</h3>
    <ul>
      <li>wiarygodna wiedza od ekspertów</li>
      <li>odpowiedzi na konkretne problemy</li>
      <li>ciągłe aktualizacje</li>
    </ul>
  </div>
</div>

<div class="grid_4">
  <div class="value form">
    <h3>Atrakcyjna Forma</h3>
    <ul>
      <li>profesjonalne 15-30 minutowe filmy</li>
      <li>grafiki dla lepszego zrozumienia</li>
      <li>materiały dodatkowe, komentarze, testy</li>
    </ul>
  </div>
</div>

<div class="grid_4">
  <div class="value availability">
    <h3>Duża Dostępność</h3>
    <ul>
      <li>niska cena w modelu "płacisz kiedy chcesz"</li>
      <li>tłumaczenia na jezyk polski i angielski</li>
      <li>interaktywne dyskusje w komentarzach</li>
    </ul>
  </div>
</div>

<div class="spacer"></div>

<div class="grid_6">
  <h2>Jaki problem rozwiązuje OVL?</h2>
  <p>Chcemy rozwiązać problem braku wiarygodnej, uporządkowanej<br /> i niedrogiej wiedzy zawodowej.</p>
</div>

<div class="grid_6">
  <h2>Dla kogo jest OVL?</h2>
  <p>Nasi użytkownicy to samoucy w wieku 16-65 lat pracujący<br /> w zawodach wymagających specjalistycznej wiedzy.</p>
</div>

<div class="hide">

<div class="spacer"></div>

<div class="grid_12">
  <h2>Jak odblokowywać wideolekcje?</h2>
</div>

<div class="grid_6">

<h3>1. Kup OVL Punkty</h3>
<p>OVL Punkty to wirtualna waluta dla łatwego odblokowywania lekcji.<br /> 
Kup trochę OVL Punktów i wykorzystaj je na co chcesz i kiedy chcesz.<br />
1 OVL Punkt kosztuje 1 $ (ok. 3 zł).</p>

<h3>2. Odblokuj wybrane wideolekcje</h3>
<p>Kkliknij duży, czerwony przycisk "Odblokuj Pełną Wersję Teraz".</p>

<h3>3. Rozpocznij naukę!</h3>
<p>Oglądaj video, czytaj materiały dodatkowe, dyskutuj w komentarzach.</p>

</div>

<div class="grid_6">
  <%= image_tag("icons/sscissor.png") %>
</div>

</div>

<div class="spacer"></div>

<div class="grid_12">
  <p class="start learning">
  <% if user_signed_in? %>
    <%= link_to "Zobacz pierwsze wideolekcje i rozpocznij naukę!", videos_path %>
  <% else %>
    <%= link_to "Zobacz pierwsze wideolekcje i rozpocznij naukę!", videos_path %>
  <% end %>
  </p>
</div>

<div class="spacer"></div>

<div class="grid_12">
  <h2><a name="teachers">Jak dołączyć do Nauczycieli OVL?</a></h2>
</div>

<div class="grid_12">

  <div class="quote">
    <p>&quot;Zawsze chciałem dzielić się moją wiedzą i zarabić na tym trochę pieniędzy, ale nie mogłem znaleźć platform, 
       które spełniały moje oczekiwania. Dlatego wymyśliłem OVL i zakochałem się w tym.&quot;</p>
    <p class="author">&ndash; <%= link_to "Bartek Rycharski", user_path(1) %>, Założyciel i Nauczyciel OVL</p>
  </div>

  <p>Oferujemy Ci unikalną szansę nauczania tysięcy ludzi tematów, które kochasz.<br />
     Ty tworzysz treść, my zajmujemy się całą produkcją video, tłumaczeniami i promocją.</p>

  <h3>Co oferujemy?</h3>
  <ul>
    <li>20% prowizja ze sprzedaży odblokowań do Twoich wideolekcji,</li>
    <li>międzynardowa promocja Ciebie i Twojej wiedzy,</li>
    <li>profesjonalna i szybka produkcja wideo w naszym studiu w Poznaniu,</li>
    <li>pełne wsparcie na wszystkich etapach procesu,</li>
    <li>bezpłatny dostęp do wszystkich wideolekcji na ovlplatform.com,</li>
    <li>zwrot wszystkich kosztów poniesionych na dojazd do naszego studia.</li>
  </ul> 

  <h3>Czego wymagamy?</h3>
  <ul> 
    <li>pożyteczna i aktualna wiedza poparta praktycznym doświadczeniem,</li>
    <li>pasja do idei międzynarodowego dzielenia się wiedzą w formie wideolekcji,</li>
    <li>konkretne tematy &ndash; każda wideolekcja to odpowiedź na konkretny problem,</li>
    <li>doskonale przygotowane scenariusze &ndash; możesz prowadzić od 2 do 10 30-minutowych wideolekcji,</li>
    <li>opiekowanie się swoimi wideolekacjami aktualizując materiały i odpowiadając na komentarze,</li>
    <li>zgoda na wykorzystywanie przez nas wizerunku w celach promocji OVL,</li>
    <li>zgoda na zachowanie przez nas pełni autorskich praw majątkowych do wideo.</li>
  </ul>

  <h3>Jakie serie tematyczne nas najbardziej interesują?</h3>

  <p>Produkcja Video, Produkcja Muzyki, Budownictwo, Medycyna, Informatyka, Gastronomia, Mechanika Samochodowa, Zarządzanie, 
  Marketing, Finanse, Księgowość, Prawo, Matematyka, Fizyka, Biologia, Chemia, Genetyka, Statystyka, Historia, 
  Obsługa Komputera, Języki Obce.</p>

  <h3>Ile wideolekcji na serię tematyczną przewidujemy?</h3>

  <p>Od 10 do 100 wideolekcji na serię tematyczną. Każdy Nauczyciel może prowadzić od 2 do 10 wideolekcji -
  tylko na te tematy, w których ma największą wiedzę i doświadczenie. Przykładowo, jeśli chcesz uczyć o Starożytnym Rzymie w serii Historia, nie musisz
  uczyć także o Rewolucji Przemysłowej albo II Wojnie Światowej &ndash; OVL to nie-szkoła i nie-podręcznik ;-)</p>

  <h3>Jak wygląda proces tworzenia wideolekcji?</h3>

  <ol class="production_process">
    <li>Preprodukcja<br />
        <span>opracowanie scenariuszy</span></li>
    <li>Produkcja<br />
       <span>nagranie wideo w naszym studiu</span></li>
    <li>Postprodukcja<br />
       <span>montaż i tłumaczenia</span></li>
    <li>Promocja<br />
      <span>realizowanie planu promocji</span></li>
  </ol>

</div>

<div class="spacer"></div>

<div class="grid_12">
  <p class="start teaching">
    <%= link_to "Aplikuj teraz i nauczaj!", "http://ovlplatform.wufoo.eu/forms/ovl-teacher-application/" %><br />
  </p>
  <!-- <p class="more">Ale najpierw zapoznaj się z <%= link_to "Poradnikiem jak tworzyć świetne wideolekcje", guide_path %>.</p> -->
</div>

<div class="hide">

<div class="spacer"></div>

<div class="grid_12">
  <h2>Kim jesteśmy?</h2>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3><%= link_to "Bartek Rycharski", "" %></h3>
  <p class="tagline">CEO / Produkcja Contentu</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3><%= link_to "Name name", "" %></h3>
  <p class="tagline">Produkcja Studyjna</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3>Name Name</h3>
  <p class="tagline">Postprodukcja</p>
</div>

<div class="grid_3">
  <%= link_to image_tag("http://localhost:3000/system/users/avatars/1/thumb/teacher.jpg"), "" %>
  <h3>Krzysiek Streflik</h3>
  <p class="tagline">Programowanie</p>
</div>

</div>

<div class="spacer"></div>

<div class="grid_4">
  <h2><a name="contact">Skontaktuj się</a></h2>
  <p>
  <%= link_to "Bartek Rycharski", user_path(1) %><br />
  <a href="mailto:bartek@ovlplatform.com">bartek@ovlplatform.com</a><br />
  tel. + 48 604 099 886 
  </p>
</div>

<div class="grid_4">
  <h2>Firma</h2>
  <p>
  Edu 2.0 Bartłomiej Rycharski<br>
  Dąbrowskiego 188/1<br>
  60-594 Poznań<br>
  NIP: 782-246-15-41<br>
  </p>
</div>

<div class="grid_4">
  <h2>Nasze Studio</h2>

<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.417707,16.911736&amp;spn=0.041879,0.102997&amp;t=m&amp;z=12&amp;vpsrc=6&amp;output=embed"></iframe><br /><small><a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.417707,16.911736&amp;spn=0.041879,0.102997&amp;t=m&amp;z=12&amp;vpsrc=6" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>

</div>

<%  end %>


