<% title t("about.title") %>

<div class="grid_12">

<div class="player">
<iframe width="853" height="510" src="http://www.youtube.com/embed/Ekdq1jbZLFU?hd=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="insider">

<div class="summary">

<h2>OVL is a source of knowledge that helps you<br />
<span class="vision">become who you want to be.</span></h2>

<p>We create <strong>high-quality videolessons</strong> on variety of specific topics from basic<br /> 
to professional knowledge. You can buy access to them at ovlplatform.com.</p>

<p>OVL means "Open Video Learning" because we are open to every interesting topic and to every person who needs our knowledge.
In global scale.</p>

<p>We are in beta now but the plan is to produce at least 600 videolessons per year.</p>

</div>

<div class="spacer inside"></div>

<div class="benefit students">

<%= image_tag("http://jezykpolski.istockphoto.com/file_thumbview_approve/3943432/2/istockphoto_3943432-students-having-fun.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-3943432-students-having-fun.php?st=835b904 -->

<h4>Kids and Students</h4>
<p>Getting the dream job.</p>

</div>

<div class="benefit employees">

<%= image_tag("http://jezykpolski.istockphoto.com/file_thumbview_approve/7384989/2/istockphoto_7384989-mid-thirties-female-professional.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-7384989-mid-thirties-female-professional.php?st=3bc574c -->

<h4>Companies and Employees</h4>
<p>Better qualifications.</p>

</div>

<div class="benefit seniors">

<%= image_tag ("http://jezykpolski.istockphoto.com/file_thumbview_approve/9129801/2/istockphoto_9129801-senior-couple.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-9129801-senior-couple.php?st=6bb421f -->

<h4>Seniors (50+)</h4>
<p>More passion in life.</p>

</div>

<div class="spacer inside"></div>

<ul class="loves">

  <li class="content">
    <h4>Great content, great teachers</h4>
    <p>100% of videos are based on reliable, actual knowledge from <%= link_to "world-class teachers", users_path %>.</p>
  </li>

  <li class="quality">
    <h4>Amazing video quality</h4>
    <p>Our studio works 24/7. You will be amazed what you see on our <%= link_to "well-prepared videos", videos_path %>.</p>
  </li>

  <li class="lowprice">
    <h4>Low price</h4>
    <p>From 5$ for 30 days access to lesson in pay-as-you-go model.</p>
  </li>

  <li class="translations">
    <h4>Translations to other languages</h4>
    <p>Everything is translated to English<br /> and Polish (more soon).</p>
  </li>

  <li class="topics">
    <h4>Variety of specific topics</h4>
    <p>Open your mind for the <br/>discovery of new things.</p>
  </li>

  <li class="disqussions">
    <h4>International community</h4>
    <p>Disqus in comments with teachers and learners from all over the world.</p>
  </li>

</ul>

<div class="spacer inside"></div>

<h3>How to use it? It's very easy.</h3>

<ul class="steps">

  <li>
    <%= image_tag("about/steps/learners/1_signup.jpg") %>
    <h4><span>1</span> Buy some OVL Credits</h4>
    <p>10/50/100 Credits for 10/50/100$. <a href="#credits">More info &raquo;</a></p>
  </li>

  <li>
    <%= image_tag("about/steps/learners/1_signup.jpg") %>
    <h4><span>2</span> Unlock desired videolessons!</h4>
    <p>Watch videos, read extras materials, disqus in comments and share with your friends!</p>
  </li>

</ul>

<div class="spacer inside"></div>

<h3><a name="credits">What are the &quot;OVL Credits&quot; and how to use it?</a></h3>

<p>OVL Credits are virtual currency used for super-easy lessons unlocking. It works the same as 
Facebook Credits if you are familiar with it. Or like pre-paid phones &ndash;
you buy some Credits and then use it on what you need and when you need. 
It doesn't expire in time and there are no monthly costs.  
<% if user_signed_in? %>
All payments and unlocks are listed in <%= link_to (t("users.nav.hub"), hub_user_path(current_user))%>.
Buy some OVL Creidts using Credit Card or PayPay in <%= link_to(t("users.nav.credits"), credits_user_path(current_user)) %> section.
<% else %>
All payments and unlocks are listed in Your Hub.
<strong><%= link_to "Sign up", new_user_registration_path %></strong> to buy some OVL Credits
<% end %>
and start learning today!
</p>

<p>If you have any questions &ndash; please <a href="#contact">contact us</a>.</p>

<div class="spacer inside"></div>

<h2>For Teachers</h2>

<p>We are looking for passionate and experienced experts who want to earn by sharing their knowledge.<br/>
We offer <strong>video production</strong>, <strong>global promotion</strong> and <strong>20% comision from all forms of distribution</strong>.</p>

<p>OVL has a innovative business model where <strong>you focus only on scenarios of your lessons and interactions with your learners</strong>. We bare all the costs to guarantee the highest quality and to reach millions of people worldwide.</p>

<p>If you have an idea for your own lessons &ndash; please <a href="#contact">contact us by filling an application</a>.</p>

<div class="spacer inside"></div>

<h2>The Team</h2>

<div class="founder">
<%= image_tag("about/team/bartek.jpg") %>
<h3>Bartek Rycharski &ndash; Chief Executive Officer</h3>
<p><a href="mailto:bartek@ovlplatform.com">bartek@ovplatform.com</a><p>
<p>Hi! I'm an ideagiver of the OVL and a person responsible for content, promotion, finance, programming and all 
managing work. I am the guy who reply to your emails :-) My deep passion and 24/7 work is to build a global platform
where teachers and learners from all over the world will meet to grow ther potential. Big fan of TED, Lynda.com and Khan Academy.</p>
</div>

<div class="founder">
<%= image_tag("about/team/bartek.jpg") %>
<h3>Wojtek Holysz &ndash; Production Director</h3>
<p><a href="mailto:wojtek@ovlplatform.com">wojtek@ovplatform.com</a></p>
<p>Hi! I'm the guy you will meet in our studio in Poznan. I am responsoble for video production process to be sure that our lessons
have great quality as well as fast workflow. I love filming using my Canon 5D Mark II :-) After hours I play in heavy metal
band called &quot;Empty Playground&quot;.</p>
</div>

<div class="founder">
<%= image_tag("about/team/bartek.jpg") %>
<h3>Tomek Gestwicki &ndash; Creative Director</h3>
<p><a href="mailto:tomek@ovlplatform.com">tomek@ovplatform.com</a></p>
<p>Hi! I'm the guy responsible for post-production. I turn all of materials from Wojtek to great looking 
videos that everyone desire to watch ;-) If it's needed, I laso try to add some cool animations and colorization. I love
ambitous movies and good design.
</p>
</div>

<h3><a name="work">Work with us! We are looking for:</a></h3>

<ul>
<li><strong>Promotion Manager</strong> &ndash; responsible for increasing traffic to OVL through traditional and social media.</li>
<li><strong>Translator</strong> &ndash; responsible for creating Polish and English transcripts and captions for all of our videos.</li>
<li><strong>Business Advisor</strong> &ndash; we offer shares for advice and connecting with influentials.</li>
</ul>

<div class="spacer inside"></div>

<h2><a name="contact">Contact us</a></h2>

<div class="left">

<h3>Help &amp; Cooperation</h3>

<p>
Bartek Rycharski &ndash; CEO<br />
<a href="mailto:bartek@ovlplatform.com">bartek@ovlplatform.com</a><br />
tel. + 48 604 099 886 (Poland) 
</p>

<h3>Company</h3>

<p>
Edu 2.0 Bartlomiej Rycharski<br>
Dabrowskiego 188/1<br>
60-594 Poznan, Poland<br>
VAT: 782-246-15-41<br>
Bank: 20 1020 4027 0000 1402 0768 9161
</p>

<h3>Our studio</h3>

<iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.05249,12.128906&amp;spn=35.983123,57.832031&amp;z=3&amp;output=embed"></iframe><br /><small><a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=d%C4%85browskiego+188%2F1.+pozna%C5%84&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=9.184941,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=Jana+Henryka+D%C4%85browskiego+188,+Pozna%C5%84,+Wielkopolskie&amp;ll=52.05249,12.128906&amp;spn=35.983123,57.832031&amp;z=3" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>

<p><%= link_to "See photos on Facebook!", "ss" %></p>

</div>

<div class="right">

<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var q7x3q7 = new WufooForm();
q7x3q7.initialize({
'userName':'filmpoint', 
'formHash':'q7x3q7', 
'autoResize':true,
'height':'1100',
'header':'show'});
q7x3q7.display();
</script>

</div>


</div>
</div>
