<div class="grid_5">

  <div class="intro">
    <h2><%= raw t"home.intro.heading" %></h2>
    <%= raw t"home.intro.summary" %>

   <div class="clear"></div>

    <div class="wanna learn">
      <h3><%= t"home.intro.wanna_learn" %></h3>
      <%= link_to "#{t"home.intro.sign_up"}", new_user_registration_path, :class=>"button signup" %>
      <p><%= t"home.intro.or" %> <%=link_to "#{t"home.intro.all_videos"}", videos_path  %></p>
    </div>

    <div class="wanna teach">
      <h3><%= t"home.intro.wanna_teach" %></h3>
      <%= link_to "#{t"home.intro.contact_us"}", about_path + "#contact", :class=>"button about" %>
      <p><%= t"home.intro.or" %> <%= link_to "#{t"home.intro.how_it_works"}", about_path %></p>
    </div>

  </div>
</div>

<div class="grid_7">
  <div class="player">
    <iframe width="540" height="339" src="http://www.youtube.com/embed/SaOFuW011G8" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="spacer"></div>

<div class="grid_8 featured">

  <h3><%= t"home.featured" %></h3>

  <%= render :partial => @featured %>

</div>

<div class="grid_4 newest">

  <h3><%= t"home.newest" %> | <%= link_to "#{t("videos.all")}", videos_path %></h3>

  <% @videos.each do |video| %>

      <div class="box video">
        <%= link_to image_tag(video.thumb.url(:mini), :alt=>video.name), video %>
        <h2><%= link_to video.name, video %></h2>
      </div>

  <% end %>

</div>
