<div class="grid_5">

  <div class="intro">
    <h1><%= t"home.intro.heading" %></h1>
    <%= raw t"home.intro.summary" %>

    <div class="wanna learn">
      <h3><%= t"home.intro.wanna_learn" %></h3>
      <p><%= link_to "#{t"home.intro.sign_up"}", new_user_registration_path, :class=>"button" %></p>
      <p><%= t"home.intro.or" %> <%=link_to "#{t"home.intro.all_videos"}", videos_path  %></p>
    </div>

    <div class="wanna teach">
      <h3><%= t"home.intro.wanna_teach" %></h3>
      <p><%= link_to "#{t"home.intro.contact_us"}", "", :class=>"button" %></p>
      <p><%= t"home.intro.or" %> <%= link_to "#{t"home.intro.how_it_works"}", "" %></p>
    </div>

  </div>
</div>

<div class="grid_7">
  <div class="player">
    <iframe width="540" height="339" src="http://www.youtube.com/embed/aQR-LTYWQ7E" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="clear"></div>

<div class="grid_7">

  <h3><%= t"home.featured" %></h3>

  <%= render :partial => @featured %>

</div>

<div class="grid_5">

  <h3><%= t"home.newest" %> | <%= link_to "#{t("home.all", :number => @videos.count)}", videos_path %></h3>

  <% @videos.each do |video| %>

      <div class="box video mini">
        <%= link_to image_tag("default-thumb-mini.png"), video %>
        <h2><%= link_to video.t_name, video %></h2>
        <%= meta(video) %>
      </div>

  <% end %>

</div>

<div class="clear"></div>

<div class="grid_4">
  <%= link_to image_tag("feature.png") %>
</div>

<div class="grid_4">
  <%= link_to image_tag("feature.png") %>
</div>

<div class="grid_4">
  <%= link_to image_tag("feature.png") %>
</div>
