<!DOCTYPE html>
<html>
<head>

  <!-- title -->

  <% if @home %>
      <title><%= t("title") %></title>
  <% else %>
      <title><%= yield :title %> - <%= t("short") %></title>
  <% end %>

  <!-- css -->

  <%= stylesheet_link_tag "reset", "grid", "design" %>

  <!-- js -->

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <script script src="http://connect.facebook.net/en_US/all.js#appId=122215534533466&amp;xfbml=1"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>



  <!-- meta -->

  <% if @home %>
      <meta name="description" content="<%= t"meta.description" %>">
  <% end %>

  <%= csrf_meta_tag %>

  <!-- adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- custom styles, js and others for pages  -->

  <%= yield :head %>

</head>
<body>

<%- flash.each do |name, msg| -%>
    <%= content_tag :div, content_tag(:p, msg), :class => "wider flash", :id => "#{name}" %>
<%- end -%>

<% if user_signed_in? %>
    <div class="wider nav">
 <div>
      <%= nav(current_user) %>
 </div>
    </div>
<% end %>

<div class="wider header">
  <div>
    <%= link_to image_tag("ovl-logo.png"), root_url, :class=>"Open Video Learning OVL logo" %>
    <ul class="left">
      <li><%= link_to_with_highlight "#{t"videos.model_name"}", videos_path %></li>
      <li><%= link_to_with_highlight "#{t"channels.model_name"}", channels_path %></li>
      <li><%= link_to_with_highlight "#{t"teachers.model_name"}", users_path %></li>
    </ul>

    <ul class="right">
      <li><%= link_to_with_highlight "#{t"about.link_to"}", about_path %></li>
      <li><%= link_to "Blog", "http://ovlplatform.com/blog" %></li>
      <% unless user_signed_in? %>
      <li><%= link_to_with_highlight "#{t"header.sign_in"}", new_user_session_path %></li>
      <li><%= link_to_with_highlight "#{t"header.sign_up"}", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>

</div>

<div class="clear"></div>

<div class="container_12 <%= @current_controller %> <%= @current_action %>">

  <div class="language">
    <ul>
      <li class="en"><%= link_to "English",  change_language_url(:locale=>:en)  %></li>
      <li class="pl"><%= link_to "Polski", change_language_url(:locale=>:pl) %></li>
    </ul>
  </div>

  <%= content_for?(:content) ? yield(:content) : yield %>

</div>

<div id="fb-root"></div>
</body>
</html>
