<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" <% if params[:locale] == 'pl' %>lang="pl"<% else %>lang="en"<% end %>>
<head>

  <!-- title -->

  <% if @home %>
      <title><%= t("title") %></title>
  <% else %>
      <title><%= t("short") %> - <%= yield :title %></title>
  <% end %>

  <!-- meta -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="robots" content="index, follow" />

  <% if params[:locale] == "pl" %>
  <meta http-equiv="content-language" content="pl">
  <% else %>
  <meta http-equiv="content-language" content="en">
  <% end %>

  <% if @home %>
  <meta name="description" content="<%= t('meta.description') %>">

  <!-- facebook meta tags -->

  <meta property="og:title" content="<%= t('title') %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<% if params[:locale] == 'pl' %>http://ovlplatform.com/pl<% else %>http://ovlplatform.com/en<% end %>"/>
  <meta property="og:image" content="http://ovlplatform.com<%= image_path('ovl-logo-facebook.png') %>"/>
  <meta property="og:site_name" content="<%= t('short') %>"/>
  <meta property="og:description" content="<%= t('meta.description') %>"/>

  <% end %>

  <%= csrf_meta_tag %>

  <!-- adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- css -->

  <%= stylesheet_link_tag "reset", "grid", "design" %>

  <!-- js -->

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <script script src="http://connect.facebook.net/en_US/all.js#appId=122215534533466&amp;xfbml=1"></script>

  <!-- rss -->

  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>

  <!-- custom styles, js and others for pages  -->

  <%= yield :head %>

</head>
<body>

<%- flash.each do |name, msg| -%>
    <%= content_tag :div, content_tag(:p, msg), :class => "wider flash", :id => "#{name}" %>
<%- end -%>

<% if user_signed_in? %>
    <div class="wider nav">
 <div>
      <%= nav(current_user) %>
 </div>
    </div>
<% end %>

<div class="wider header">
  <div>
    <%= link_to image_tag("logo.png", :class=>"logo left", :alt=>"OVL Open Video Learning logo"), root_url %>
    <ul class="left">
      <li><%= link_to_with_highlight "#{t"videos.model_name"}", videos_path %></li>
      <li><%= link_to_with_highlight "#{t"channels.model_name"}", channels_path %></li>
      <li><%= link_to_with_highlight "#{t"teachers.model_name"}", users_path %></li>
    </ul>

    <ul class="right">
      <li><%= link_to_with_highlight "#{t"about.link_to"}", about_path %></li>
      <li><%= link_to "Facebook Blog", "http://facebook.com/ovl" %></li>
      <% unless user_signed_in? %>
      <li><%= link_to_with_highlight "#{t"header.sign_in"}", new_user_session_path %></li>
      <li><%= link_to_with_highlight "#{t"header.sign_up"}", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>

</div>

<div class="clear"></div>

<div class="container_12 <%= @current_controller %> <%= @current_action %>">

  <div class="language">
    <ul>
      <li class="en"><%= link_to "English",  change_language_url(:locale=>:en)  %></li>
      <li class="pl"><%= link_to "Polski", change_language_url(:locale=>:pl) %></li>
    </ul>
  </div>

  <%= content_for?(:content) ? yield(:content) : yield %>

<div class="footer">

<div class="spacer first"></div>

<div class="grid_2">

<h3><%= t("footer.explore") %></h3>

<ul>
      <li><%= link_to "#{t"videos.model_name"}", videos_path %></li>
      <li><%= link_to "#{t"channels.model_name"}", channels_path %></li>
      <li><%= link_to "#{t"teachers.model_name"}", users_path %></li>
</ul>

</div>

<div class="grid_2">

<h3><%= t("footer.about") %></h3>

<ul>
  <li><%= link_to "#{t"about.link_to"}", about_path %></li>
  <li><%= link_to t("footer.work"), about_path + "#work" %></li>
  <li><%= link_to "#{t"terms.link_to"}", terms_path %></li>
  <li><%= link_to "#{t"footer.policy"}", terms_path + "#policy" %></li>
  <li><%= link_to "#{t"footer.contact"}", about_path + "#contact" %></li>
</ul>

</div>

<div class="grid_5">

<h3><%= t("footer.newsletter.title") %></h3>

<form action="http://edu20.createsend.com/t/r/s/pmvu/" method="post" id="newsletter">
  <input type="text" name="cm-pmvu-pmvu" class="email" id="pmvu-pmvu" value="Email" /><input class="button" type="submit" value="<%= t('footer.newsletter.button') %>" />
</form>

<h3><%= t("footer.facebook") %></h3>

<fb:like href="http://www.facebook.com/pages/Open-Video-Learning-OVL/167175996653709" send="false" width="380" show_faces="true" font=""></fb:like>

</div>

<div class="grid_3">

<h3><%= t("footer.connect.title") %></h3>

<ul class="connect">
<li class="facebook"><%= link_to t("footer.connect.facebook"), "http://facebook.com/ovl" %></li>
<li class="twitter"><%= link_to t("footer.connect.twitter"),"http://twitter.com/" %></li>
<li class="youtube"><%= link_to t("footer.connect.youtube"), "http://youtube.com/" %></li>
<li class="github"><%= link_to t("footer.connect.github"), "https://github.com/bartekrycharski/ovlplatform" %></li>
</ul>

</div>

<div class="spacer"></div>

<div class="grid_12">

<p class="copy">&copy; <%= t("footer.copy") %></p>

</div>

</div>

</div>


<div id="fb-root"></div>
 <%= yield :footer %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24663533-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
