<% title t("users.sign_up.title") %>

<div class="grid_7">

  <h1><%= t("users.sign_up.heading") %></h1>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <div class="inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :required => true %>
      <%= f.input :accept_policy %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>

  <% end %>

  <p><%= link_to t("users.sign_up.link.sign_in"), new_user_session_path %></p>

</div>

<div class="grid_5">
  <div class="benefits">
    <h3><%= t("users.sign_up.benefits.heading") %></h3>
    <ul>
      <li><%= t("users.sign_up.benefits.first") %></li>
      <li><%= t("users.sign_up.benefits.second") %></li>
      <li><%= t("users.sign_up.benefits.third") %></li>
    </ul>
  </div>
</div>
